/* 
----------------------------------------------------------------------------- 
Made by Koa Metter (Iamkoa) - Nov 19, 2007
For use with Vision CSS gallery
-----------------------------------------------------------------------------

a.link {
	background-color:#fff;
	padding:2px;
	color:#212121;
	font-size:12px;
}

ul {
	text-align:left;
	font-size:14px;
	letter-spacing:1.5px;
	list-style-type:none;
}



p {
	width:580px;
	font-size:14px;
	letter-spacing:1px;
	text-align:left;
}

div#inner {
	position:relative;
	margin:0 auto;
	text-align:center;
	width:600px;
	background-color:transparent;
}

div#content {
	position:relative;
	width:600px;
	margin-top:30px;
	background-color:transparent;
}

div#content {
  position:relative;
  overflow:hidden;
}

div#content img {
	position:relative;
	border:none;
}

* html div#content {
	float: left;
}

* html div.controls a {
	height: 10000px;
	background-position: center 150px;
}

div.controls a {
	text-indent: -5000px;
	overflow: hidden;
	outline: none;
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:1;
}

		
div.controls a:hover {
	opacity: 0.40;
	filter: alpha(opacity=40);
	z-index:1;
}

div#content .details_bg {
	background-color:#000;
	opacity: 0.60;
	filter: alpha(opacity=60);
	height:50px;
	width:600px;
	bottom:10px;
	left:10px;
	position:absolute;
	z-index:2;
}

div#content #details {
	position:absolute;
	color:#fff;
	font: 36px/.9em Helvetica, Arial, Verdana, sans-serif;
	font-weight:bold;
	text-align:left;
	top:10px;
	z-index:1;
	left:0px;
	width:600px;
	z-index:3;
	text-align:center;
} */